*,
::before,
::after {
  box-sizing: inherit;
}

html {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

i {
  margin-right: 6px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main,
footer {
  background-color: #1F2937;
}

main,
footer {
  font-size: 18px;
  color: #E5E7EB;
}



main {
  padding: 8px 64px 56px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  color: #F9FAF8;
}

header .links {
  font-size: 18px;
  list-style: none;
  display: flex;
  gap: 16px;
}

.hero {
  display: flex;
  gap: 10vw;
  align-items: center;
}

.hero img {
  max-width: 25%;
  height: auto;
  border-radius: 12px;
}

.hero .left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero .main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  min-width: 0%;
  flex: 1;
}

.hero .secondary-text {
  font-size: 18px;
  flex: 2;
}

button.contact {
  color: #F9FAF8;
  max-width: 150px;
  padding: 8px 24px;
  background-color: #3882F6;
  border: none;
  border-radius: 12px;
  flex: none;
}

.figures {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.figures h2 {
  font-size: 36px;
  font-weight: 900;
}

.fig-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 8px;
}

.fig-container img {
  max-height: 250px;
  width: auto;
  border: 3px solid #3882F6;
  color: #1F2937;
}

.fig-container figcaption {
  text-align: center;
}

.quote {
  padding: 64px 128px;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.quote .text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}

.quote .author {
  font-size: 24px;
  align-self: flex-end;
}

.action-call {
  padding: 48px 32px;
  color: white;
  display: flex;
  justify-content: center;
}

.action-call .box {
  padding: 24px 32px;
  background-color: #3882F6;
  border-radius: 6px;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.action-call .main-text {
  font-size: 16;
  font-weight: bold;
  margin-bottom: 5px;
}

.action-call .secondary-text {
  font-size: 12px;
}

.action-call button.contact {
  border: 2px solid #E5E7EB;
  color: white;
}

footer {
  margin-top: auto;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}